---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My Astro Frontpage</title>
	</head>
	<body>
		<a href='/'>Home</a>
		<a href='/about/'>About</a>
		<a href="/hobbies/">Hobbies</a>
		<h1>Who Am I?</h1>
		<p>
		  My name is Paul and I build my first Astro project using <a
			href='https://www.ceos3c.com'>ceos3c.com</a
		  >!
		</p>
	  </body>
</html>
